/*Index Styling  */

body {
	font-family:sans-serif,verdana;
	background-color:lightgrey;
	padding:0;
	margin:0;}

header {
	text-align:center;
	background-color:#4a4a4a;
}

div {display:block;}

.menubar-container {
	width:100%;
	max-width:980px;
	margin:0 auto;
	/* overflow:hidden; */}

nav {display:block;}
	
ul {display:block;}

.menubar {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#4a4a4a;
	width:100%;
	display:inline-block;}

/* .menu-item {display:inline-block;} */

header li {position:relative;}

li a {
	display:block;
	color:white;
	text-align:center;
	padding:12px;
	text-decoration:none;}
	
li a:hover {
	color:black;
	background-color:#cccccc;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

ul li:hover ul .dropdown{display: block;}
    
ul li ul .dropdown li{display: block;}

.dropdown-content li a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.body-container {
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
	padding:0 16px;}

.nav-container {
	padding:0px 16px;}

aside {
	display:block;
	width:150px;
	float:left;
	margin-top:10px;
}

.side-nav {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:lightgrey;
	color:black;}

.side-nav li a {
	display:block;
	color:black;
	text-align:center;
	padding:12px;
	text-decoration:none;}

.side-nav li a:hover {
	background-color:#666666;
	color:white;
}

.button {
    background-color: #4CAF50;
    border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;}

.button:hover {
	background-color:#3e8e41;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}
	
h2 {color:#3366cc;}

.search_box input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    background-color: #ccc;
    background-image: url("/ui/searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search_box input[type=text]:focus {
    width: 20%;
}

/* Slideshow*/
.slideshow-image {
	margin-left:10%;
	margin-right:10%;
	max-width:1000px;
	position:relative;
	margin:auto;
	width:720px;
	height:480px;}
.slideno {
	top:0;
	color:white;
	position:absolute;
	padding:8px 12px;
	font-size:16px;}
.images {width:50%;}
.image-caption {
	bottom:6px;
	color:black;
	position:absolute;
	padding:8px 16px;
	text-align:center;
	width:100%;
	font-size:16px;}
.prev, .next {
	cursor:pointer;
	position:absolute;
	top:50%;
	width:auto;
	margin-top:-25px;
	padding:16px;
	color:#1a1a1a;
	background-color:#ccc;
	font-weight:bold;
	font-size:16px;
	border-radius:0 3px 3px 0 #cccccc;
	transition:0.6 ease;}
.next {
	right:0;
	border-radius:3px 0 0 3px;}
.prev:hover, .next:hover {
	background-color:black;
	color:white;}
.dot {
	cursor:pointer;
	height:12px;
	width:12px;
	margin:0 2px;
	background-color:#bbb;
	border-radius:50%;
	display:inline-block;
	transition:background-color 0.6 ease;}
.dot:hover, .active {
	background-color:#1a1a1a}
/*.transition {}*/

/*article styling*/
.info {
    background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
    margin-bottom: 15px;
    padding: 4px 12px;}


/*user_login styling*/

.login-container {
	margin-top:10px;
	float:left;
	background-color:#cce0ff;
	padding:6px 12px;
}

.login-container input[type=text], input[type=password] {
    width:80%;
    padding: 8px 12px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signup-container {
	margin-top:10px;
	float:right;
	background-color:#80ff80;
	padding:6px 12px;
}

.signup-container input[type=text], input[type=password] {
    width:80%;
    padding: 8px 12px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/*feedback page styling */
.feedback-footer {
	display:block;
	text-decoration:none;
	text-align:center;
	background-color:#4a4a4a;
	color:white;
	padding:16px;}
	
.user-feedback input[type=text] {
    width:60%;
    padding: 8px 12px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.toast {
	bottom:0px;
	left:0px;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 6px;
    font-size: 18px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

