/*Index Styling  */

body {
	font-family:sans-serif,verdana;
	background-color:lightgrey;
	padding:0;
	margin:0;}

header {
	text-align:center;
	background-color:#4a4a4a;
}

div {display:block;}

.menubar-container {
	width:100%;
	max-width:980px;
	margin:0 auto;
	overflow:hidden;}

nav {display:block;}
	
ul {display:block;}

.menubar {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#4a4a4a;
	width:100%;
	display:inline-block;
	float:left;}

.menu-item {display:inline-block;}

header li {position:relative;}

li a {
	display:block;
	color:white;
	text-align:center;
	padding:12px;
	text-decoration:none;}
	
li a:hover {
	color:black;
	background-color:#cccccc;}

li a:hover {
	text-decoration:transparent;
}

/* .left-nav {
	height: 100%;
	width: 204px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
	font-size: 21px;
    padding-left: 16px;
    margin: -4px 0 4px 0;
	position: fixed;
    top: 0;
    padding-top: 112px;
    padding-bottom: 0;
    background-color: transparent;} */
	
.body-container {
	padding:0 16px;}

aside {
	display:block;
	width:150px;
	float:left;
	margin-top:10px;
}

.side-nav {
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:lightgrey;
	color:black;
	
}

.side-nav li a {
	display:block;
	color:black;
	text-align:center;
	padding:12px;
	text-decoration:none;}

.side-nav li a:hover {
	background-color:#666666;
	color:white;
}
/*.profile_div {}*/

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
	
h2 {color:#3366cc;}

.search_box input[type=text] {
    width: 130px;
    /*box-sizing: border-box;*/
    border-radius: 6px;
    font-size: 16px;
    background-color: #ccc;
    background-image: url("/ui/searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    /*-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
}

.search_box input[type=text]:focus {
    width: 20%;
}

/* Slideshow*/
.slideshow-image {
	margin-left:10%;
	margin-right:10%;
	max-width:1000px;
	position:relative;
	margin:auto;
	width:720px;
	height:480px;}
.slideno {
	top:0;
	color:white;
	position:absolute;
	padding:8px 12px;
	font-size:16px;}
.images {width:50%;}
.image-caption {
	bottom:6px;
	color:black;
	position:absolute;
	padding:8px 16px;
	text-align:center;
	width:100%;
	font-size:16px;}
.prev, .next {
	cursor:pointer;
	position:absolute;
	top:50%;
	width:auto;
	margin-top:-25px;
	padding:16px;
	color:#808080;
	font-weight:bold;
	font-size:16px;
	border-radius:0 3px 3px 0;
	transition:0.6 ease;}
.next {
	right:0;
	border-radius:3px 0 0 3px;}
.prev:hover, .next:hover {
	background-color:black;}
.dot {
	cursor:pointer;
	height:12px;
	width:12px;
	margin:0 2px;
	background-color:#bbb;
	border-radius:50%;
	display:inline-block;
	transition:background-color 0.6 ease;}
.dot:hover, .active {
	background-color:#1a1a1a}
/*.transition {}*/


/*article styling*/
.info {
    background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
    margin-bottom: 15px;
    padding: 4px 12px;}


/*user_login styling*/



/*feedback page styling */
.feedback-footer {
	display:block;
	text-decoration:none;
	background-color:#d6d6c2;
	padding:16px;
	font-size:80%;}
